.body{
    background-image: url(../css/images/donate-background.jpg);
}
table{
    border: 2px solid black;
    margin-top: 10px;
    float: right;
    
}
fieldset{
    border: 2px solid rgba(96, 96, 96,.8);
    padding: 10px;
    background-color:  rgba(96, 96, 96,.8);
    color: #eee;
    width: 50% ;
}
h1{
    background-color: rgba(96, 96, 96,.8);
    color:#eee;
    text-align: center;
} 
footer{
    background-color:rgba(96, 96, 96,.8) ;
    text-align: center;
    margin-top: 40%;
}